<div class="carousel-container col-sm-offset-1 col-sm-5 about-view-container">
  <div class="well content-container">
    <carousel interval="carouselInterval" disable-animation="true">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class='carousel-image' ng-src="{{slide.image}}">
        <!-- <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
        </div> -->
      </slide>
    </carousel>
  </div>
</div>
<div class="col-sm-offset-.5 col-sm-5 about-view-container">
  <div class="well sidebar-nav content-container">
    <div class='text-center'>
      <h3 class="main-header about-header">{{rightHeader}}</h3>
    </div>
    <p class="about-text">{{rightText}}</p>
    <p class="about-more">For more information, please see my <span class="resume-click-text" ng-click="openResume('lg')">resume.</span></p>
  </div>
</div>