<div class="carousel-container col-sm-offset-1 col-sm-5 about-view-container">
  <div class="well content-container">
    <carousel interval="carouselInterval" disable-animation="true">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class='carousel-image' ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="col-sm-offset-.5 col-sm-5 about-view-container">
  <div class="well sidebar-nav content-container">
    <div class='text-center'>
      <h3 class="main-header">{{rightHeader}}</h3>
    </div>
    <p>{{rightText}}</p>
    <i ng-click="openResume()" class="fa fa-file-o"></i><p>{{resumeText}}</p>
    <ul class="nav nav-list">
      <li><a ng-href="#"><i class="fa fa-home"></i>Back To Home View</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="col-sm-8 col-sm-offset-2 fun-fact">
    <p>{{funFact}}</p>
  </div>
</div>