<div class="col-sm-offset-2 col-sm-8 main-view-container">
  <div class='well content-container row'>
    <h3 class="main-header">{{header}}</h3>
    <div class="col-sm-4">
      <div class="portfolio-list-container">
        <h5>{{projectsHeader}}</h5>
        <ul class='nav'>
          <li ng-repeat="project in projects" ng-click="display(project)" ng-class="{ active: isActive(project.id)}" ><i class="fa {{project.icon}}"></i>{{project.name}}</li>
        </ul>
        <h5>{{positionsHeader}}</h5>
        <ul class='nav'>
          <li ng-repeat="position in positions" ng-click="display(position)"><i class="fa {{position.icon}}"></i>{{position.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <h4>{{selected.name}}</h4>
      <p>{{selected.desc}}</p>
      <p>Role: <span>{{selected.role}}</span></p>
      <p>Stage: <span>{{selected.stage}}</span></p>
      <p>Website <span>{{selected.url}}</span></p>
    </div>
  </div>

  </div>
</div>