<div class="col-sm-offset-2 col-sm-8 main-view-container">
  <div class='well content-container row'>
    <div class="col-sm-4 left-side-container">
      <h3 class="main-header">{{header}}</h3>
      <div class="portfolio-list-container">
        <h5>{{projectsHeader}}</h5>
        <ul class='nav'>
          <li ng-repeat="project in projects" ng-click="display(project)" ng-class="{ active: listActive(project.id)}" ><i class="fa {{project.icon}}"></i>{{project.name}}</li>
        </ul>
        <h5>{{positionsHeader}}</h5>
        <ul class='nav'>
          <li ng-repeat="position in positions" ng-click="display(position)" ng-class="{ active: listActive(position.id)}"><i class="fa {{position.icon}}"></i>{{position.name}}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8 individual-project">
      <div class='text-center'>
        <h4>{{selected.name}}</h4>
        <p class='description'>{{selected.desc}}</p>
      </div>
      
      <p><span>Role:</span>{{selected.role}}</p>
      <p><span>Status:</span>{{selected.status}}</p>
      <p class="{{selected.urlClass}}"><span>Website:</span><a href="{{selected.url}}" target="_blank">{{selected.displayUrl}}</a></p>
    </div>
  </div>

  </div>
</div>