//import twitter bootstrap
$icon-font-path: "../components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


// colors
$dark-blue: #316897;
$link-blue: #428bca;
$background-clear: rgba(255,255,255,0.6);
$light-grey: #F8F8F8;
$orange: #CA622D;
// end colors


//font-awesome
$fa-font-path: "../components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
// end of font-awesome import


html {
  position: relative;
  min-height: 100%;  
}

body {
  background-image: url("https://s3.amazonaws.com/BenWinter.co/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.content-container {
  background-color: $background-clear;
}

.main-header {
  font-weight: 700;
  font-size: 2em;
}

//import section stylesheets
@import "../navbar/navbar.scss";
@import "../home/home.scss";
@import "../about/about.scss";
@import "../contact/contact.scss";
@import "../portfolio/portfolio.scss";
@import "../resume/resume.scss";
//end of section stylesheet import