$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


//font-awesome
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
// end of font-awesome import

//import other stylesheets
@import "./header_footer.scss";
@import "./main_view.scss";
@import "./about.scss";
//end of other stylesheet import

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("https://s3.amazonaws.com/BenWinter.co/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }